{
  "presets": ["es2015", "react"],
  "plugins": ["transform-class-properties"],
   "env": {
    "development": {
      "plugins": [
          ["transform-class-properties",
           {"transforms": [{
              "transform": "livereactload/babel-transform",
              "imports": ["react"]
            }]
           }
           , {"transforms": [{
             "transform": "react-transform-hmr",
               "imports": ["react"],
               "locals": ["module"]
           }]}
        ]
      ],
    }
  }
}
