@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

$dark-gray: #323232;
$red: #db325a;
$black: #272727;
$white: #fff;
$light-gray: #808080;

.clearfix { clear: both; }

body {
  background-color: $dark-gray;
  padding: 20px !important;
  color: $light-gray;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', Verdana, sans-serif;
  color: $white;
}

a {
  color: $white;
}

#nav {
  float: right;

  ul {
    list-style-type: none
  }
}