@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);

$dark-gray: #222222;
$red: #881D0F;
$black: #272727;
$white: #fff;
$light-gray: #808080;
$blue: #00d9ff;
$panel-gray: lighten($dark-gray, 10);

.clearfix { clear: both; }

body {
  background-color: $dark-gray;
  padding: 20px !important;
  color: $light-gray;
}

#app {
  max-width: 800px;
  margin: auto;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', Verdana, sans-serif;
  color: $white;
}

a {
  color: $blue;
  text-decoration: none;
}

header .button.button-primary {
  color: $white;
  background-color: $blue;

  text-decoration: none;
}

#nav {
  float: right;
  margin-left: 20px;
  margin-right: 0px;
  padding-right: 0px;

  ul {
    list-style-type: none
  }
}

.video-wrapper {
  margin-bottom: 25px;
}

.error {
  border: 1px solid #330000;
  padding: 15px;
  background-color: $red;
  font-weight: bold;
  margin-bottom: 10px;
  color: $white;
}

/* HACK: move to CSSify */

.react-spinner {
  position: relative;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
}

form .react-spinner {
  position: relative;
  top: 20px;
  left: 30px;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

.labelRow {
  display: flex;

  input {
    margin-top: 7px;
  }

  label.check-label {
    padding-left: 10px;
  }
}

.StripeCheckout {
  button {
    font-size: 1.4em;
    padding: 25px;
    height: 75px;
  }
}

.blurb {
  font-size: 1.3em;
  color: $white;
  padding: 15px;
  margin: 15px 0px;
  background-color: $panel-gray;
}

footer {
  text-align: center;
  width: 100%;
  margin: 10px;
}

.blog {
  padding: 20px 0px;
  color: $white;
}

#header {
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
}

#header a {
  margin: 10px
}
